<a href="https://colab.research.google.com/github/kushal-g/FlightDelayPredictor/blob/master/Models/XGBoost_and_RandomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib as plt
from multiprocessing import Pool
from xgboost import XGBClassifier

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
cd /content/gdrive/My\ Drive

/content/gdrive/My Drive

In [0]:
df = pd.read_csv("flights_logistic_final.csv",dtype={"ORIGIN_AIRPORT":object,"DESTINATION_AIRPORT":object})

In [0]:
df.head()

   Unnamed: 0  YEAR  MONTH  DAY  ...  AIRLINE_UA AIRLINE_US  AIRLINE_VX AIRLINE_WN
0           0  2015     12   25  ...           0          0           0          0
1           1  2015      1    1  ...           0          0           0          0
2           2  2015      4   26  ...           0          0           0          0
3           3  2015      4   27  ...           0          0           0          0
4           4  2015     10   20  ...           0          0           0          0

[5 rows x 175 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X = df.drop(["Unnamed: 0","YEAR","MONTH","DAY","DAY_OF_WEEK","AIRLINE","FLIGHT_NUMBER","TAIL_NUMBER","ORIGIN_AIRPORT","DESTINATION_AIRPORT","DEPARTURE_DELAY","TAXI_OUT","WHEELS_OFF","SCHEDULED_TIME","AIR_TIME","WHEELS_ON","TAXI_IN","ARRIVAL_DELAY","ARRIVAL_DELAY_BOOL","SCHEDULED_DEPARTURE","SCHEDULED_ARRIVAL","TAIL_NUMBERS_BINNED","ORIGIN_AIRPORT_BINNED","DESTINATION_AIRPORT_BINNED"],axis=1)

In [0]:
y = df["ARRIVAL_DELAY_BOOL"]

In [0]:
X_train,X_test,y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

In [0]:
model = XGBClassifier(n_estimators=500, random_state=42)

In [0]:
eval_set = [(X_train, y_train), (X_test, y_test)]
eval_metric = ["auc","error"]

In [0]:
import re
regex = re.compile(r"\[|\]|<", re.IGNORECASE)

In [0]:
X_test.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in X_test.columns.values]
X_train.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in X_train.columns.values]

In [0]:
X_test.head()

        ELAPSED_TIME  DISTANCE  DIVERTED  ...  AIRLINE_US  AIRLINE_VX  AIRLINE_WN
104241          67.0       283         0  ...           0           0           1
199676          76.0       331         0  ...           0           0           0
140199          81.0       404         0  ...           0           0           0
132814         159.0      1046         0  ...           0           0           1
408697         144.0       820         0  ...           0           0           0

[5 rows x 151 columns]

In [0]:
import time
%time model.fit(X_train, y_train)

CPU times: user 10min 35s, sys: 3.85 s, total: 10min 39s
Wall time: 10min 39s

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=500, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=42,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [0]:
pred_test = model.predict(X_test)

In [0]:
from sklearn.metrics import confusion_matrix

In [0]:
matrix = confusion_matrix(y_test,pred_test)

In [0]:
((matrix[0][0]+matrix[1][1])/(matrix[0][0]+matrix[0][1]+matrix[1][0]+matrix[1][1]))*100

71.953